{% extends 'base.html' %}

{% block title %}Add Team{% endblock %}

{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <form id="addTeam" action="{% url 'core:team_detail' %}" method="post">
                {% csrf_token %}
                <label for="team-name">Team Name : </label>
                <input type="text" name="team-name" id="team-name" /><br>
                <label for="team-desc">Team Description : </label>
                <textarea name="team-desc" id="team-desc"></textarea>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
{% endblock content %}