{% extends 'base.html' %}

{% block title %}HR{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-sm-4">
            <a class="btn btn-info" type="button" href="{% url 'core:add_team_form' %}">Add Team</a>
        </div>
        <div class="col-sm-8">
            <h2>You are HR</h2>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
{% endblock %}